replicaCount: 1

image:
  repository: ghcr.io/jigle/proman
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: false
  host: ""
  annotations: {}
  tls: []

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}