apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "proman.fullname" . }}
  labels:
    app: {{ include "proman.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "proman.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "proman.name" . }}
    spec:
      containers:
        - name: {{ include "proman.name" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: NODE_ENV
              value: "production"
            - name: PORT
              value: "3000"
          ports:
            - containerPort: {{ .Values.service.port }}
          {{- if .Values.persistence.enabled }}
          volumeMounts:
            - name: data
              mountPath: {{ .Values.persistence.mountPath }}
          {{- end }}
          readinessProbe:
            httpGet:
              path: /api/health
              port: {{ .Values.service.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /api/health
              port: {{ .Values.service.port }}
            initialDelaySeconds: 15
            periodSeconds: 20

      {{- if .Values.persistence.enabled }}
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: {{- if .Values.persistence.existingClaim }}{{ .Values.persistence.existingClaim }}{{- else }}{{ include "proman.fullname" . }}-data{{- end }}
      {{- end }}
