name: Actionlint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: {}

jobs:
  actionlint:
    name: actionlint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - name: Run actionlint
        uses: rhysd/actionlint-action@v1
        with:
          args: -no-color -verbose
          # optionally set: path: .github/workflows to limit the scope
