name: Build and Upload Image Artifact

on:
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: false
          tags: proman:artifact

      - name: Save image to tar
        run: |
          docker save proman:artifact -o proman_artifact.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: proman-image
          path: proman_artifact.tar
